* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFFFFF;
}

.body {
  display: flex;
  justify-content: center;
  
}

.showMoreButton {
  padding: 5px 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}





